*, *::before, *::after {
  box-sizing: border-box;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    background: #000;
    color: #aaa;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

input, button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

/* ::selection {
    background: #fff;
    color: #000;
} */

a {
    color: rgba(255, 255, 255, 0.5);
}

p {
    margin: 0 0 1rem 0;
}

h1 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2rem;
    margin: 0;
}

label {
    background-color: #111;
    border-radius: 2px 2px 0 0;
    /* border-radius: 4px 4px 0 0; */
    /* border: 1px solid #444; */
    border-bottom: 1px solid #444;
    color: #777;
    display: inline-block;
    margin: 0 0.5rem;
    padding-left: 1rem;
}

label:focus-within {
    border-bottom: 1px solid #fff;
}

input[type="text"] {
    background: inherit;
    border: 1px solid #222;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    color: #fff;

}

input[type="number"] {
    /* color: #9E9E9E; */
    /* background: #000; */
    background: inherit;
    border-top-right-radius: 2px;
    color: white;
    border: none;
    padding: 0 0.5rem;
    /* margin-left: 0.5rem; */
    height: 48px;
    width: 5rem;
    outline: 0;
    /* margin: 0 1rem; */
    /* text-align: center; */
}

/* input[type="number"]:focus {
    background-color: #000;
} */

[hidden] {
    display: none !important;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

header {
    align-items: center;
    background: #212121;
    color: #fff;
    display: flex;
    height: 56px;
    padding: 0 1rem;
    text-align: center;
}

@media (min-width: 600px) {
    header {
        height: 64px;
    }
}

main {
    /* padding: 15vmin 0; */
    padding: 20vmin 0;
    /* padding: 5rem 0; */
    text-align: center;

    /* height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center; */
}

footer {
    text-align: center;
    padding: 5rem 0 2rem 0;
}

summary {
    color: #777;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
    outline: 0;
    padding: 0 0 1rem 0;
    text-align: center;
}

summary:focus {
    color: #aaa;
}






button {
    align-items: center;
    background-color: #444;
    border-radius: 2px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: .875rem;
    font-weight: 500;
    height: 56px;
    padding: 0 1rem;
    text-transform: uppercase;
    user-select: none;

}

@media (hover: hover) {
    button:hover {
        background-color: #555;
    }
}

button:focus {
    outline: 0;
    background-color: #555;
}

button:active {
    background-color: #666;
}

/* .button--download::before {
    content: url("/images/icons/baseline-get_app-24px.svg");
    height: 24px;
    margin-right: 0.5rem;
} */

.list {
    /* align-content: stretch; */
    display: flex;
    flex-wrap: wrap;
}

/* @media (min-width: 768px) {
    .list {
        column-count: 2;
        column-gap: 1rem;
        orphans: 1;
        widows: 1;    
    }    
}

@media (min-width: 992px) {
    .list {
        column-gap: 2rem;
    }    
}

@media (min-width: 1200px) {
    .list {
        column-count: 3;
    }    
} */


.list a {
    color: #777;
    display: flex;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.1); */
    background-color: #111;
    border-radius: 4px;
    /* border-bottom: 1px solid #333; */
    /* border: 1px solid #333; */
    /* border-top: none; */
    cursor: pointer;
    /* height: 56px; */
    padding-left: 1rem;
    text-decoration: none;
    justify-content: space-between;
    /* margin-bottom: 0.5rem; */

    flex-grow: 1;
    /* width: 33%; */
    margin: 0.5rem;    
}

/* .list a:last-child {
    border-bottom: none;
} */

@media (hover: hover) {
    .list a:hover {
        background-color: #222;
    }
}

*:focus {
    /* background-color: #111; */
    outline-color: inherit;
}

.list a:active {
    background-color: #333;
}

.list > a > samp {
    background-color: #222;
    border-radius: 0 4px 4px 0;
    margin-left: 1rem;
    padding: 1rem;
    pointer-events: none;
}

.container-fluid {
    padding: 0 1rem;
}

@media (min-width: 992px) {
    .container-fluid {
        padding: 0 2rem;
    }    
}

.mb--0 {
    margin-bottom: 0;
}

.mb--1-5 {
    margin-bottom: 1.5rem;
}

.mb--2 {
    margin-bottom: 2rem;
}




.download-list {
    list-style-type: none;
    padding: 0;
}

.download-list > li {
    align-items: center;
    border-bottom: 1px solid #222;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.download-list > li > b {
    align-items: center;
    display: inline-flex;
    font-weight: normal;
}

.download-list > li > b::before {
    height: 24px;
    margin-right: 0.5rem;
}

.download-list > li > b[data-type="monitor"]::before {
    content: url("/images/icons/baseline-desktop_windows-24px.svg");
}

.download-list > li > b[data-type="phone"]::before {
    content: url("/images/icons/baseline-smartphone-24px.svg");
}

.download-list > li > b[data-type="tablet"]::before {
    content: url("/images/icons/baseline-tablet-24px.svg");
}

.download-list .button--download {
    min-width: 10rem;
}

.button {
    align-items: center;
    background-color: #444;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.button--download::before {
    content: url("/images/icons/baseline-get_app-24px.svg");
    height: 24px;
    margin-right: 0.5rem;
}




.container--center {
    text-align: center;
}


.filter__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}



.device-list {
    list-style: none;
    padding: 0;
}

.device-list > li {
    display: inline-flex;
    margin-right: 1rem;
}

.device-list > li::before {
    height: 24px;
    margin-right: 0.5rem;
    opacity: 0.5;
}

.device-list > li[data-type="standard"]::before {
    content: url("/images/icons/baseline-aspect_ratio-24px.svg");
}

.device-list > li[data-type="watch"]::before {
    content: url("/images/icons/baseline-watch-24px.svg");
}

.device-list > li[data-type="handset"]::before {
    content: url("/images/icons/baseline-smartphone-24px.svg");
}

.device-list > li[data-type="tablet"]::before {
    content: url("/images/icons/baseline-tablet-24px.svg");
}

.device-list > li[data-type="laptop"]::before {
    content: url("/images/icons/baseline-laptop-24px.svg");
}

.device-list > li[data-type="desktop"]::before {
    content: url("/images/icons/baseline-desktop_mac-24px.svg");
}
